.container {
  background-color: rgb(13, 20, 53);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0;

  .drop-wrapper {
    align-items: flex-end;
    position: relative;
    width: 10%;

    p {
      color: aliceblue;
      padding: 1rem;
      &:hover {
        background-color: red;
        cursor: pointer;
      }
    }

    .drop {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: aliceblue;
      li {
        padding: 1rem 0 1rem 1rem;
        &:hover {
          background-color: bisque;
          cursor: pointer;
        }
      }
    }
  }
}
