.container-fluid {
  background-color: rgb(13, 20, 53);
  padding: 0;

  .drop-wrapper {
    align-items: flex-end;
    position: relative;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: red;
      cursor: pointer;
    }

    p {
      color: aliceblue;
      padding: 1rem;
      margin-bottom: 0;
    }

    .drop {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: aliceblue;
      li {
        padding: 1rem 0 1rem 1rem;
        &:hover {
          background-color: bisque;
          cursor: pointer;
        }
      }
    }
    @media screen and (max-width: 480px) {
      width: 40%;
    }
  }
}
