/* You can add global styles to this file, and also import other style files */
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

::ng-deep * {
  margin: 0;
  padding: 0;
}
